.close-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(../assets/icons/close-icon.svg);
  background-position: center;
  background-size: contain;
}
